html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  display: block;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
#container {
  position: absolute;
  width: 660px;
  height: 470px;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -330px;
}

body {
  line-height: 1.5em;
}
body {
  font: 12px Helvetica,Arial,sans-serif;
}
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
