@media screen and (min-width: 768px) {
  .content{
    position: -130px,0,0,0;
    display: block;
    font-size: 14px;
    line-height: 2;
    }
    .linkIcons{
      font-size: 2px;
    }
    #links{
      padding-right: 20px;
    }
}

@media screen and (min-width: 526px) {
  .content{
    position: -130px,0,0,0;
    font-size: 14px;
    line-height: 2;
    }
}


body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/stripes-light.png");
}
#about{
  margin-left: 15px;
}

.jumbotron {
  padding: 1rem 2rem;
  box-align: center;
  border-left: 10px solid #393838dd;
  margin-top: 25px;
  background-color: white;
}


/* #links{
  border-left: 8px solid #393838dd;
  display: block;
  vertical-align: 0;
} */

.auth-image{
  border-radius: 50%;
  width: 200px;
  /* height: auto; */
}

.projEx{
  border-radius: 50%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
}

.centerText{
  text-align: center;
}


.library{
  text-align: center;
  margin-top: -50px;
}

.description{
  text-align: center;
  margin-top: -15px;
  font-size: 75%;
  line-height: 120%
}

#firstList{
  margin-top: 35px;
  font-size: 25px;
  line-height: 45px;
}
.linkIcons{
  font-size: 40px;
}
a {
  color: #444c55;
  margin: 20px;

}

.githubSmall{
  filter: invert(100%);
  font-size: 25px;
  line-height: 50px;
}

#introStatement{
  margin-top: 15px;
}

footer{
  text-align: center;
  /* border-top: 8px solid white; */
  /* background: #666; */
  /* color: white; */
  /* padding: 15px; */

}
#rachaelBrand{
  text-align: center;
  font-family: 'Rock Salt', cursive;
  text-shadow: .5px .5px #fa3c3caf;
}

/* wrapper {
  position: absolute;
  height: 200px;
} */

.content {
  position: absolute;
  padding-left: 5px;
  bottom: 0;
  width: 100%;
  border-left: 8px solid #393838dd;
}

.rvr{
  filter: invert(100%);
  font-size: 50px;
}
#port{
  border-left: 8px solid #393838dd;
  vertical-align: 0;
}



@media screen and (max-width: 680px) {
  .content{
    display: block;
}
